Source: bird
Section: net
Priority: extra
Build-Depends: bison, debhelper (>= 7), flex, m4, libreadline-dev | libreadline6-dev | libreadline5-dev, hardening-wrapper, quilt (>= 0.40)
Maintainer: Ondřej Surý <ondrej@debian.org>
Standards-Version: 3.9.2
Vcs-Browser: http://git.debian.org/?p=users/ondrej/bird.git
Vcs-Git: git://git.debian.org/pkg-nlnetlabs/ldns.git

Package: bird
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: zebra, routed
Recommends: bird6
Description: Internet Routing Daemon
 BIRD is a Internet routing daemon with full support for all the major
 routing protocols.  It allows redistribution between protocols with
 a powerful route filtering syntax and an easy-to-use configuration
 interface.
 .
 This package supports IPv4 versions of OSPFv2, RIPv2 and BGP.

Package: bird6
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: zebra, routed
Recommends: bird
Description: Internet Routing Daemon
 BIRD is a Internet routing daemon with full support for all the major
 routing protocols.  It allows redistribution between protocols with
 a powerful route filtering syntax and an easy-to-use configuration
 interface.
 .
 This package supports IPv4 versions of OSPFv3, RIPng and BGP.
